@(ids: TwitterIds, account: String)


@main("Followers") {
  <h2>@account の フォロワーIDのリスト</h2>
  <div>
    <p>count: @ids.ids.size フォロワー</p>
    <ul>
      @if(ids.previousCursor != 0L) {
        <a href=@routes.TwitterController.followerIds(account, Some(ids.previousCursor))>前へ</a>
      }
      @if(ids.nextCursor != 0L) {
        <a href=@routes.TwitterController.followerIds(account, Some(ids.nextCursor))>次へ</a>
      }
    </ul>
    <ul>
    @for(id <- ids.ids) {
      <li>@id</li>
    }
    </ul>
    <a href=@routes.TwitterController.followerIds(account, Some(ids.previousCursor))>前へ</a>
    <a href=@routes.TwitterController.followerIds(account, Some(ids.nextCursor))>次へ</a>
  </div>
}
